<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <style>
        .a{
            text-align: center;

        }
        .up{
            color: green;
        }
        .del{
            color: red;
        }
        .vie{
            color: #f0f107;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">Customer List</h1>
<a th:href="@{/customers/create}">Add new customer</a>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col" style="text-align: center" colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${customers}">
        <th scope="row" th:text="${item.id}"></th>
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.address}"></td>
        <td class="a"><a th:href="@{/customers/update/{id}(id=${item.id})}" class="up">Update</a></td>
        <td class="a"><a th:href="@{/customers/delete/{id}(id=${item.id})}" class="del" onclick="return confirm('Are you sure?')">Delete</a></td>
        <td class="a"><a th:href="@{/customers/view/{id}(id=${item.id})}" class="vie">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>